# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.info
*.info
*.bin
*.csproj
*.pidb
*.bin
*.log
*.pdb
*.asset
*.sln
*.userprefs
*.unityproj
*.buildreport
*.dll
*.cache
*.txt
*.mdb
*.info
*.dwlt
space jam/Library/assetDatabase3
space jam/Library/CurrentLayout.dwlt
space jam/Library/metadata/*
*.log
*.mdb
*.dll
*.meta
*.mdb
*.dwlt
space jam/Library/expandedItems
space jam/obj/Debug/*
space jam/Assets/Editor/GitHub/PlatformResources/mac/git-lfs.zip
space jam/Assets/Editor/GitHub/PlatformResources/windows/git.zip
*.zip
space jam/Library/assetDatabase3
space jam/Library/shadercompiler-UnityShaderCompiler.exe0.log
space jam/Library/metadata/69/69a1edbed83c9af4eb9fedb67c1e17d5
space jam/Library/metadata/6b/6b187d93d1a387a4791896e844692b11
*.mdb
space jam/Library/assetDatabase3
space jam/Library/metadata/
space jam/Library/metadata/
