# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.info
*.info
*.bin
*.csproj
*.pidb
*.bin
*.log
*.pdb
*.asset
*.sln
*.userprefs
*.unityproj
*.buildreport
*.dll
*.cache
*.txt
*.mdb
*.info
*.dwlt
space jam/Library/assetDatabase3
space jam/Library/CurrentLayout.dwlt
/space jam/Library/metadata/*
*.log
*.mdb
*.dll

